@model Eticaretmvc.Models.Kategori

<h2>Kategori Sil</h2>
<p>Bu kategoriyi silmek istediğinize emin misiniz?</p>

<div>
    <h4>@Model.Ad</h4>
</div>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Sil</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>
